<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table table-striped table-border" id="my-table" data-url="<%= employees_path %>">
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
</div>